{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN DATA FILE EDIT{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    <a class="btn -block" href="{{ path('admin_data_manager') }}">back to Data Manager</a>
</section>
<section class="col -col-6 -md6 -sm6 -xs6">
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
            {% if file.folder is defined and file.folder is not null %}
                <a 
                    class="tooltip -tooltip-bottom -tertiary btn btn-action s-circle -primary -hover -shad-12 -shad-14-h"
                    data-tooltip="folder access"
                    href="{{ path('admin_folder_show', { 'id': folder.id }) }}"
                >   
                    <i class="fas fa-folder fa-2x"></i>   
                </a>
            {% endif %}
            {% if file is defined and file is not null %}
                <a 
                    class="tooltip -tooltip-bottom -tertiary btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                    data-tooltip="show"
                    href="{{ path('admin_file_show', { 'id': file.id }) }}"
                >   
                    <i class="fa-solid fa-eye fa-2x"></i>   
                </a>
                {{ include('liquid-admin-theme/pages/core/data/_file_delete_form.html.twig') }}
            {% endif %}
        </div>
        {% if fileNameForm is defined %}
            {{ include('liquid-admin-theme/pages/core/data/_file_edit_name_form.html.twig') }}
        {% endif %}
    </div>
</section>
<section class="col -col-6 -md6 -sm6 -xs6">
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        {% if filePrivateForm is defined %}
            {{ include('liquid-admin-theme/pages/core/data/_file_edit_private_form.html.twig') }}
        {% endif %}
    </div>
</section>
<section class="col -col-12">
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
        </div>
        {% if form is defined %}
            {{ include('liquid-admin-theme/pages/core/data/_file_edit_form.html.twig') }}
        {% endif %}
    </div>
</section>
{% endblock %}



