{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}{{ 'post.post_list'|trans }}{% endblock %}

{% block mainContent %}
    <div class="col -col-12 -text-center" id="post-list">
        <div class="h5 mt-10">{{ 'post.post_list'|trans }}</div>
    </div>
    
    {% if posts is defined and posts is not empty %}
        {% for post in posts %}
            <div class="col -col-4 -md6 -sm12 -xs12">
                {% include 'liquid-ui/components/layout/card/dynamic-card.html.twig' with {
                        'cardMode' : 2,
                        'day' : post.createdAt|date("d"),
                        'month' : post.createdAt|date("m"),
                        'year' : post.createdAt|date("Y"),
                        'menuContentItems' : [
                            {
                                'path': '#',
                                'icon': 'fa-regular fa-bookmark'
                            },
                            {
                                'path': '#',
                                'icon': 'fa-regular fa-heart',
                                'info': '8'
                            },
                            {
                                'path': '#',
                                'icon': 'fa-regular fa-comment',
                                'info': '3'
                            }
                        ],
                        'cardHeader' : post.author.username,
                        'cardTitle' : post.title,
                        'cardText' : post.content,
                        'cardLinkPath' : path('member_post_show', { 'id': post.id }),
                        'cardLinkText' : 'Read More'
                    }
                %}    
            </div>
        {% endfor %}
        
    {% else %}
        <div class="tile -tile-compact -w-f -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    {{ 'post.help.no_post'|trans }}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="-tile-subtitle">
                        {{ 'post.help.create_post'|trans }}
                    </div>
                {% endif %}
            </div>
            <div class="-tile-action">
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="{{ 'post.menu.create_post'|trans }}"> 
                    <a class="-tertiary" href="{{ path('admin_post_create') }}">
                        <i class="fas fa-plus fa-2x"></i> 
                    </a>
                </button>
            {% endif %}
            
                
            </div>
        </div>
    {% endif %}
{% endblock %}