{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}{{ 'post.post_show'|trans }}{% endblock %}

{% block mainContent %}

    {% if post is defined %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
            <section class="-shad-12 col -col-12 -row -fixed -bottom -z100">
                <button class="tooltip -tooltip-top -light btn btn-action -xl s-circle -hover -shad-12 -shad-14-h" data-tooltip="edit post" type="submit">   
                    <a href="{{ path('admin_post_edit', { 'id': post.id }) }}">
                        <i class="fa-solid fa-pen fa-2x"></i>        
                    </a>
                </button>
            </section>
        {% endif %}
        {% set linkTemplate = post.blockTemplate ? post.blockTemplate : 'blocks/post/oldway_show_post.html.twig' %}
        
        {% include linkTemplate with {
            'postContent' : post.content,
            'postTitle' : post.title,
            'postTime' : post.createdAt,
            'postCategory' : null,
            'postAuthor' : post.author.username,
            'postLink' : post.link,
            'postLinkText': post.linkText
        } %}
        <hr>
        {# HERE the comments list #}
        <section class="-shad-12 col -col-12">
            <h2 class="h3">{{ 'post.comment_area'|trans }}</h2>
        </section>
        
        {# HERE the comments add form #}
        <section id="comment-area" class="col -col-11">
            {% if editComment is defined and editComment is not null %}
                <p> {{ 'post.help.comment_edition'|trans }}</p>
            {% endif %} 
            <div class="tile -shad-5 -shad-12-h w-f">
                {{ form_start(form) }}
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Content:</th>
                            <td>{{ form_widget(form.content) }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ form_widget(form.submit) }}</td>
                        </tr>
                    </tbody>
                </table>
                {{ form_end(form) }}
            </div>
            {% if editComment is defined and editComment is null %}
                <ul class="-w-f -p0">   
                    {% if comments is defined and comments is not empty  %}
                        {% for comment in comments %}
                            <li class="tile -shad-5 -shad-12-h -cursor-pointer -m0">
                                <div class="-tile-content -w-f">
                                    <p class="-tile-title -t-u -t-bld">
                                        {{ comment.author.username }} --
                                        <small> <time class="post__time small">{{comment.createdAt|date("d/m/Y")}}</time></small>
                                    </p>
                                    <p class="-tile-subtitle">
                                        {{ comment.content }} 
                                    </p>
                                   
                                </div>
                                <div class="-tile-action">
                                    {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                        'path': path('member_post_show', { 'id': post.id, 'commentId': comment.id}),
                                        'action': 'Edit',
                                        'tooltip': 'Edit',
                                        'icon': 'fa-regular fa-pen-to-square'
                                    } %}
                                    {% if app.user and comment.author.id == app.user.id %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-delete.html.twig' with {
                                            'path': path('member_comment_delete', { 'id': comment.id, 'postId': post.id }),
                                            'message': '{{ 'post.info.comment_delete'|trans }}' ,
                                            'token': 'delete-comment'
                                        } %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p> {{ 'post.help.no_comment'|trans }}</p>
                    {% endif %}
                </ul>
            {% endif %}
        </section>
                
    {% else %}
        <p> {{ 'post.help.no_post'|trans }} </p>
    {% endif %}

{% endblock %}