{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN MENU EDIT{% endblock %}

{% block mainContent %}
    <section class="col -col-12">
        <a class="btn -block" href="{{ path('admin_menu_list') }}">back to list</a>
        <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
            <div class="-panel-header -text-center -flex -justify-space-evenly">
                {% if menu is defined and menu is not null %}
                    <a 
                        class="btn tooltip tooltip-left -tertiary btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                        data-tooltip="show"
                        href="{{ path('admin_menu_show', { 'id': menu.id }) }}"
                    >
                        <i class="fa-solid fa-eye fa-2x"></i>
                    </a>
                    {{ include('liquid-admin-theme/pages/core/menu/_delete_form.html.twig') }}
                {% endif %}
            </div>
            {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
                <section class="-panel-body -flex -wrap">
                    <div class="col -col-4 -md6 -sm12 -xs12">
                        {{ form_label(form.name, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <small>{{ form_help(form.name) }}</small>
                        {{ form_errors(form.name) }}
                        <div class="form-element has-icon-right">
                            {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                            <i class="form-icon fa-solid fa-heading"></i>
                        </div>
                    </div>

                    <div class="col -col-4 -md6 -sm12 -xs12">
                        <small>{{ form_help(form.position) }}</small>
                        {{ form_errors(form.position) }}
                        <div class="form-element">
                            {{ form_label(form.position, null, {
                                'label_attr': {'class': '-t-c -t-bld -color-dark'}
                            }) }}
                            <div class="-sm9">
                                {{ form_widget(form.position, {'attr': {'class': 'form-select -shad-12'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col -col-2 -md3 -sm6 -xs6">
                        <div class="form-element">
                            <label class="switch">
                                {{ form_widget(form.isMainMenu) }}
                                <i class="form-icon -shad-12"></i>
                                <span class="form-field-msg -t-c -t-bld -color-dark">Main menu</span>
                            </label>
                        </div>
                        <small>{{ form_help(form.isMainMenu) }}</small>
                        {{ form_errors(form.isMainMenu) }} 
                    </div>
                    <div class="col -col-2 -md3 -sm6 -xs6">
                        <div class="form-element">
                            <label class="switch">
                                {{ form_widget(form.isPublished) }}
                                <i class="form-icon -shad-12"></i>
                                <span class="form-field-msg -t-c -t-bld -color-dark">Published</span>
                            </label>
                        </div>
                        <small>{{ form_help(form.isPublished) }}</small>
                        {{ form_errors(form.isPublished) }} 
                    </div>
                </section>

                <section class="-panel-footer -text-center ">
                    {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
                </section>
            {{ form_end(form) }}
        </div>
    </section>
    {% if menu is defined and menu.menuItems is defined and menu.menuItems is not empty %}
        <section class="col -col-12" id="menu-items-list">    
        
            <div class="tile -tile-compact -w-f -shad-12">
                <div class="-tile-content">
                    <div class="-tile-title -t-bld">
                        MENU ITEMS LIST
                    </div>
                    <div class="-tile-subtitle">
                        Create a new Item
                    </div>
                </div>
                <div class="-tile-action">
                    <a 
                        class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left"
                        data-tooltip="Add Menu Item"
                        href="{{ path('admin_menu_item_create', { 'menuId': menu.id }) }}">
                        <i class="fa-solid fa-plus"></i> 
                    </a>
                </div>
            </div>
            {% set menuItems = menu.menuItems %}
            {% include 'liquid-ui/components/layout/table/table.html.twig' with {
                    'tableHeadItems' : [
                        {
                            'text': 'id',
                            'attr': 'id'
                        },
                        {
                            'text': 'name',
                            'attr': 'name'
                        },
                        {
                            'text': 'path',
                            'attr': 'path'
                        }
                    ],
                    'tableItems': menuItems,
                    'actions' :  {
                        'duplicate': {'path': 'admin_menu_item_duplicate', 'tooltip': 'duplicate', 'icon': 'fas fa-copy'},
                        'edit': {'path': 'admin_menu_item_edit', 'tooltip': 'edit', 'icon': 'fa-regular fa-pen-to-square'},
                        'delete': {'path': 'admin_menu_item_delete', 'token': 'delete-menu-item', 'message': 'Are you sure you want to delete this Menu Item ?'}
                    }
                }
            %} 
        </section>
    {% endif %}
{% endblock %}



