{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}{{'menu.public_data_manager'|trans}}{% endblock %}

{% block mainContent %}
    <section class="col -col-6 -md6 -sm12 -xs12">
        <div class="tile -tile-compact -w-f -m0 -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    {{ 'menu.public_folder_manager'|trans }}
                </div>
                <div class="-tile-subtitle">
                    {{ 'cmd.see_all'|trans }}
                    <a class="-t-u btn -sm -light -hover" href="{{ path('public_folder_list') }}">
                        {{ 'cmd.see'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="col -col-6 -md6 -sm12 -xs12">
        <div class="tile -tile-compact -w-f -m0 -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    {{ 'menu.public_file_manager'|trans }}
                </div>
                <div class="-tile-subtitle">
                    {{ 'cmd.see_all'|trans }}
                    <a class="-t-u btn -sm -light -hover" href="{{ path('public_file_list') }}">
                        {{ 'cmd.see'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="col -col-12 -row -wrap">
        {% if folders is defined and folders is not empty %}
            {% for folder in folders %}
                <section class="col -col-2 -md3 -sm6 -xs6 " id="folder-{{folder.id}}">
                    <article class="-shad-12-h" id="folder-manager-{{folder.id}}">
                        <div class="tile -tile-compact -w-f"> 
                            <div class="-tile-content -flex -flex-column -justify-center -items-center -wrap">
                                <div class="chip {{ folder.private ? '-secondary':'-warning' }} -shad-13">
                                    <span class="avatar avatar-sm -shad-18 -flex -justify-center -items-center">
                                        <i class="fas {{ folder.private ? 'fa-lock':'fa-lock-open' }}"></i>
                                    </span>
                                    <p class="-m0 -t-i -t-tiny">
                                        {{ folder.private ? 'info.private'|trans :'info.public'|trans }}
                                    </p>
                                </div>
                                <a  class="-flex -flex-column -justify-center -items-center -wrap"  href="{{ path('public_folder_show', {'id': folder.id})   }}">
                                    <i class="fas fa-folder fa-2x -m2 -p4"></i>
                                    <p class="-tile-title -m0 -t-bld -t-tiny">
                                        {{ folder.name }}  
                                    </p>
                                    <p class="-m0 -t-i -t-tiny">
                                        {{ folder.isPublished ? 'info.published'|trans :'info.not_published'|trans }}
                                    </p>
                                    <div class="-tile-subtitle">
                                        <div class="-t-u btn -sm -light -hover">{{ 'cmd.see'|trans }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>
                    <aside class="-flex -justify-space-evenly -items-center -wrap -sha -pr2 -pl2 -w-f ">
                        
                    </aside>
                </section>
            {% endfor %}
        {% endif %}
        <hr>
        {% if files is defined and files is not empty %}
            {% for file in files %}
                <section class="col -col-2 -md4 -sm6 -xs6 -justify-center -items-center -wrap" id="file-{{file.id}}">
                    <div class="card -shad-4 -shad-12-h">
                        {% set mediaImgList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'] %}
                        <div class="-card-image  -flex -justify-space-evenly -items-center">
                            {% if file.ext in mediaImgList %}
                                {% set mediaPath = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath) %}
                                <img class="img-responsive" src="{{mediaPath}}" alt="{{file.name}}"> 
                            {% else %}
                                <div class="file-icon file-icon-xl -m2" data-type="{{file.ext}}"></div>
                            {% endif %}
                        </div>
                        <div class="card-header -pl3 -flex -flex-column -justify-space-evenly -items-center -wrap ">
                            <a                                
                                href="{{ path('public_file_show', {'id': file.id }) }}"
                                class="-m0 -t-bld -t-tiny"
                            >
                                {{ file.name ~ '.' ~ file.ext}}  
                            </a>
                            <div class="-subtitle text-gray -m0 -t-i -t-tiny">
                                {{ file.private ? 'info.private'|trans :'info.public'|trans }}
                            </div>
                        </div>
                        <div class="-card-footer">
                            <div class="-flex -justify-space-evenly -items-center -wrap -shad-12 -pr2 -pl2 -w-f">
                                {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                    'path': file.private ? path('download_private_file', {'filename': file.originalFilename}) : asset(file.filePath),
                                    'action': 'download',
                                    'tooltip': 'download file',
                                    'icon': 'fas fa-download'
                                } %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %} 
        {% endif %}
    </section>
    <p class="-p10 -m10 -w-f -text-center">Bloogy Data Manager</p>
    <section class="bar bar-mini -fixed -bottom-1rm -white" id="folder-list">
        <div class="tile -tile-compact -w-f -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    {{ 'menu.public_data_manager'|trans }}
                </div>
                <div class="-tile-subtitle">
                    
                </div>
            </div>
        </div>
    </section> 
{% endblock %}