{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}PUBLIC FILE SHOW{% endblock %}

{% block mainContent %}
    {% if file is defined and file.folder is defined and file.folder is not null %}
        <section class="col -col-6 -md6 -sm12 -xs12">
            <a 
                class="btn -block" 
                href="{{ path('public_data_manager') }}"
            >
                {{ 'cmd.back'|trans }} {{ 'menu.public_data_manager'|trans }}
            </a>
        </section>
        <section class="col -col-6 -md6 -sm12 -xs12">
            <a 
                class="btn -block -dark"
                href="{{ path('public_folder_show', {'id': file.folder.id }) }}"
            >
                {{ 'cmd.back'|trans }} {{ 'menu.parent_folder'|trans }} : {{file.folder.name}}
            </a>
        </section>
    {% else %}  
        <section class="col -col-12">
            <a 
                class="btn -block" 
                href="{{ path('public_data_manager') }}"
            >
                {{ 'cmd.back'|trans }} {{ 'menu.public_data_manager'|trans }}
            </a>
        </section>
    {% endif %}
    {% if file is defined %}
        <section class="-w-f">   
            <div class="card -shad-4 -shad-12-h">
                {% set mediaImgList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'] %}
                <div class="-card-image -flex -justify-space-evenly -items-center">
                    {% if file.ext in mediaImgList %}
                        {% set mediaPath = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath) %}
                        <img class="img-responsive" src="{{mediaPath}}" alt="{{file.name}}"> 
                    {% else %}
                        <div class="file-icon file-icon-xl -m2" data-type="{{file.ext}}"></div>
                    {% endif %}
                    </div>
                <div class="-card-header -pl3 -flex -flex-column -justify-space-evenly -items-center -wrap ">
                    <a
                        target="_blank"
                        href="{{file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath)}}"
                        class="-m0 -t-bld -t-tiny"
                    >
                        {{ file.name ~ '.' ~ file.ext}}  
                    </a>
                    <div class="-subtitle text-gray -m0 -t-i -t-tiny">
                        {{ file.private ? 'info.private'|trans :'info.public'|trans }}
                    </div>
                </div>
                <div class="-card-body">
                    <p class="-t-u -t-bld">{{ 'path'|trans }} : </p>
                    <p>
                        {% set pathLink = file.private ? url('serve_private_file', {'filename': file.originalFilename}) : absolute_url(asset(file.filePath)) %}
                        {{pathLink}}
                    </p>
                </div>
                <div class="-card-footer">
                    <div class="-flex -justify-space-evenly -items-center -wrap -shad-12 -pr2 -pl2 -w-f">
                            {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                'path': asset(file.filePath),
                                'action': 'download',
                                'tooltip': 'download file',
                                'icon': 'fas fa-download'
                            } %}
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <p> {{'help.no_file'|trans}}</p>
    {% endif %}

{% endblock %}