{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block mainContentClass %} liquid-container liquid-grid  -center -middle -z1 -overflow-x-hidden  {% endblock %}
{% block mainContent %}
<section class="col -col-4 -md8 -sm12 -xs12">
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center">
            <figure class="avatar avatar-xl -shad-12">
               <img src="../assets/img/avatar/beaver/beaver-avatar-128.png" alt="Avatar">
            </figure>
            <div class="-panel-title h5 mt-10 -t-u">Bloogy</div>
            <div class="-panel-subtitle -t-u">login page</div>
            {% if error %}
                <div class="toast -warning -shad-12 -shad-10-h" role="alert">
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    <button class="btn btn-clear"></button>
                </div>
            {% endif %}
        </div>
        <form class="-w-f" method="post">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% else %}
                <section class="-panel-body">
                    <label for="inputEmail" class="-t-c -t-bld -color-dark">Email</label>
                    <div class="form-element has-icon-right">
                        <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-field -shad-12-h" autocomplete="email" required autofocus>
                        <i class="form-icon icon icon-people"></i>
                    </div>
                    <label for="inputPassword" class="-t-c -t-bld -color-dark">password</label>
                    <div class="form-element">
                        <div class="password has-icon-right ">
                            <input type="password" name="password" id="inputPassword" class="form-field -shad-12-h" autocomplete="current-password" required>
                            <i class="form-icon icon icon-eye-solid"></i>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-element">
                        <label class="switch">
                            <input type="checkbox" name="_remember_me">
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Remember me</span>
                        </label>
                    </div>
                </section>
                <section class="-panel-footer -text-center ">
                    <button  type="submit" class="-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl">
                        Log In
                    </button>
                    <div class=" -m2 -mt5 -p1">
                        <a href="#" class="-t-bld">
                            Forgot password...
                        </a>
                    </div>
                </section>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}
