{#
// Variables
- modalId : Modal Id {string}
- modalClass : Custom class{string}
- modalWidth : Active full width {string | opts: sm/lg/fullwidth} 
- modalHeight : Active full height {string| opts: sm/lg/fullheight}
- modalAnim : animation class {string | default = -anim-5}
- modalTitle : Modal Tritle {string}
- modalContent: Modal content include path
- modalContentData: Modal content Data
- modalFooter: Modal Footer include path
- modalFooterData: Modal Footer Data
- modalCloseHandler: Show close button, default = true
#}

{% if modalClass is not defined %}
    {% set modalClass = null %}
{% endif %}
{% if modalAnim is not defined %}
    {% set modalAnim = "-anim-5" %}
{% endif %}
{% if modalHeight is not defined %}
    {% set modalHeight = null %}
{% endif %}
{% if modalWidth is not defined %}
    {% set modalWidth = null %}
{% endif %}
{% if modalTitle is not defined %}
    {% set modalTitle = null %}
{% endif %}
{% if modalCloseHandler is not defined %}
    {% set modalCloseHandler = true %}
{% endif %}

<div 
    class="modal  {{ modalWidth ? '-modal-' ~ modalWidth : null }} {{ modalHeight ? '-modal-' ~ modalHeight : null }} {{modalAnim}} {{modalClass}}"
    id="{{modalId}}"
>
  <a href="#close" class="-modal-overlay -modal-close" aria-label="Close"></a>
                              
  <div class="-modal-container -shad-8">
    <div class="-modal-header">
        {% if modalTitle is defined and modalTitle is not null %}
            <div class="-modal-title h5">{{modalTitle}}</div>
        {% endif %}
        {% if modalCloseHandler %}
            <a href="#close" class="btn btn-clear -modal-close" aria-label="Close"></a>
        {% endif %}
    </div>
                                
    <div class="-modal-body">
      <div class="-content">
        {% if modalContent is defined and modalContent is not null %}
            {% if modalContentData is defined and modalContentData is not null %}
                {% include modalContent  with modalContentData %}
            {% else %}
                {% include modalContent %}
            {% endif %}
        {% endif %}
      </div>
    </div>
    {% if modalFooter is defined and modalFooter is not null %}
        <div class="-modal-footer">
            {% if modalFooterData is defined and modalFooterData is not null %}
                {% include modalFooter with modalFooterData %}
            {% else %}
                {% include modalFooter %}
            {% endif %}
        </div>
    {% endif %}
  </div>
</div>