<h1>Hi! Please confirm your email!</h1>

<p>
    {{ 'mail.register.intro'|trans }}  
    <br>
    <br>
    <a href="{{ signedUrl }}">{{ 'mail.register.confirm_mail'|trans }}</a>.
    {{ 'mail.register.link_expiration_info'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'mail.register.outro'|trans }}
</p>
