{% extends 'liquid-theme/layout.html.twig' %}

{% block title %}Register!{% endblock %}
{% block mainContentClass %} liquid-container liquid-grid  -center -middle -z1 -overflow-x-hidden  {% endblock %}
{% block mainContent %}
<section class="col -col-4 -md8 -sm12 -xs12">
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center">
            <figure class="avatar avatar-xl -shad-12">
               <img src="../assets/img/avatar/beaver/beaver-avatar-128.png" alt="Avatar">
            </figure>
            <div class="-panel-title h5 mt-10 -t-u">{{'author.app'|trans}}</div>
            <div class="-panel-subtitle -t-u">{{'menu.register'|trans}} {{'content.page'|trans}}</div>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="toast -warning -shad-12 -shad-10-h" role="alert">
                    <p>{{ flashError|trans }}</p>
                    <button class="btn btn-clear"></button>
                </div>
            {% endfor %}
        </div>
        {{ form_start(registrationForm) }}
            <section class="-panel-body">

                {{ form_label(registrationForm.username, 'form.username'|trans, {
                    'label_attr': {'class': '-t-c -t-bld -color-dark'}
                }) }}
                <small>{{ form_help(registrationForm.username) }}</small>
                {{ form_errors(registrationForm.username) }}
                <div class="form-element has-icon-right">
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-field -shad-12-h', 'autocomplete': 'email'}}) }}
                    <i class="form-icon fa-solid fa-user"></i>
                </div>

                {{ form_label(registrationForm.email, 'form.email'|trans, {
                    'label_attr': {'class': '-t-c -t-bld -color-dark'}
                }) }}
                <small>{{ form_help(registrationForm.email) }}</small>
                {{ form_errors(registrationForm.email) }}
                <div class="form-element has-icon-right">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-field -shad-12-h', 'autocomplete': 'email'}}) }}
                    <i class="form-icon fa-solid fa-at"></i>
                </div>
                
                {{ form_label(registrationForm.plainPassword, 'form.password'|trans, {
                    'label_attr': {'class': '-t-c -t-bld -color-dark'}
                }) }}
                <small>{{ form_help(registrationForm.plainPassword) }}</small>
                {{ form_errors(registrationForm.plainPassword) }}
                <div class="form-element has-icon-right">
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-field -shad-12-h', 'autocomplete': 'email'}}) }}
                    <i class="form-icon fa-solid fa-lock"></i>
                </div>
                {{ form_label(registrationForm.plainPassword, 'form.agree_terms'|trans, {
                    'label_attr': {'class': '-t-c -t-bld -color-dark'}
                }) }}
                <div class="form-element">
                    <label class="switch">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        <i class="form-icon -shad-12"></i>
                        <span class="form-field-msg -t-c -t-bld -color-dark">{{ 'form.i_agree'|trans }}</span>
                    </label>
                </div>
                <small>{{ form_help(registrationForm.agreeTerms) }}</small>
                {{ form_errors(registrationForm.agreeTerms) }}
            </section>
            <section class="-panel-footer -text-center ">
                <button  type="submit" class="-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl">
                    {{ 'menu.register'|trans }}
                </button>
            </section>
        {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}
