{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN DATA FOLDER SHOW{% endblock %}

{% block mainContent %}
    {% if folder is defined and folder.folder is defined and folder.folder is not null %}
        <section class="col -col-6 -md6 -sm12 -xs12">
            <a 
                class="btn -block" 
                href="{{ path('admin_data_manager') }}"
            >
                back to Data Manager
            </a>
        </section>
        <section class="col -col-6 -md6 -sm12 -xs12">
            <a 
                class="btn -block -dark"
                href="{{ path('admin_folder_show', {'id': folder.folder.id }) }}"
            >
                back to parent : {{folder.folder.name}}
            </a>
        </section>
    {% else %}  
        <section class="col -col-12">
            <a 
                class="btn -block" 
                href="{{ path('admin_data_manager') }}"
            >
                back to Data Manager
            </a>
        </section>
    {% endif %}

    {% if uploadFileform is defined %}
        <section class="col -col-12 -top">
            {% include 'liquid-ui/components/layout/modal/modal.html.twig' with {
                'modalId': 'file-uploader',
                'modalHeight': 'lg',
                'modalWidth': 'lg',
                'modalContent': 'liquid-admin-theme/pages/core/data/_file_upload_form.html.twig',
                'modalContentData': {
                    'uploadFileform': uploadFileform
                }
            }
            %} 
        </section>
    {% endif %}
    <section class="col -col-12 -row">
        {% if folder is defined and folder is not null %}
            {% if folder.subFolders is defined and folder.subfolders is not empty %}
                {% for folder in folder.subFolders %}
                    <section class="col -col-2 -md3 -sm6 -xs6 " id="folder-{{folder.id}}">
                        <article class="-shad-12-h" id="folder-manager-{{folder.id}}">
                            <div class="tile -tile-compact -w-f"> 
                                <div class="-tile-content -flex -flex-column -justify-center -items-center -wrap">
                                    <div class="chip {{ folder.private ? '-secondary':'-warning' }} -shad-13">
                                        <span class="avatar avatar-sm -shad-18 -flex -justify-center -items-center">
                                            <i class="fas {{ folder.private ? 'fa-lock':'fa-lock-open' }}"></i>
                                        </span>
                                        <p class="-m0 -t-i -t-tiny">
                                            {{ folder.private ? 'private':'public' }}
                                        </p>
                                    </div>
                                    <a  class="-flex -flex-column -justify-center -items-center -wrap"  href="{{ path('admin_folder_show', {'id': folder.id}) }}">
                                        <i class="fas fa-folder fa-2x -m2 -p4"></i>
                                        <p class="-tile-title -m0 -t-bld -t-tiny">
                                            {{ folder.name}}  
                                        </p>
                                        <p class="-m0 -t-i -t-tiny">
                                            {{ folder.isPublished ? 'published':'not published' }}
                                        </p>
                                        <div class="-tile-subtitle">
                                            <div class="-t-u btn -sm -light -hover">See</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </article>
                        <aside class="-flex -justify-space-evenly -items-center -wrap -sha -pr2 -pl2 -w-f ">
                            
                            {% if is_granted('ROLE_ADMIN') %}
                                {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                    'path': '#',
                                    'action': 'show',
                                    'tooltip': 'move folders',
                                    'icon': 'fas fa-file-import'
                                } %}
                                {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                    'path': folder.private ? path('admin_folder_access_edit', {'id': folder.id, 'accessValue': 'public'}) : path('admin_folder_access_edit', {'id': folder.id, 'accessValue': 'private'}),
                                    'action': 'edit',
                                    'tooltip': folder.private ? 'Make Public' : 'Make Private',
                                    'icon': folder.private ? 'fas fa-lock' : 'fas fa-lock-open'
                                } %}
                                {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                    'path': path('admin_folder_edit', { 'id': folder.id }),
                                    'action': 'edit',
                                    'tooltip': 'edit folder',
                                    'icon': 'fa-regular fa-pen-to-square'
                                } %}
                                {% include 'liquid-ui/components/ui/buttons/btn-delete.html.twig' with {
                                    'path': path('admin_folder_delete', { 'id': folder.id }),
                                    'message': 'Are you sure you want to delete this folder ?',
                                    'token': 'delete-folder'
                                } %}
                            {% endif %}
                        </aside>
                    </section>
                {% endfor %}
            {% endif %}
            <hr>
            {% if folder.files is defined and folder.files is not empty %}
                {% for file in folder.files %}
                    <section class="col -col-2 -md4 -sm6 -xs6 -justify-center -items-center -wrap" id="file-{{file.id}}">
                        <div class="card -shad-4 -shad-12-h">
                            {% set mediaImgList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'] %}
                            <div class="-card-image  -flex -justify-space-evenly -items-center">
                                {% if file.ext in mediaImgList %}
                                    {% set mediaPath = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath) %}
                                    <img class="img-responsive" src="{{mediaPath}}" alt="{{file.name}}"> 
                                {% else %}
                                    <div class="file-icon file-icon-xl -m2" data-type="{{file.ext}}"></div>
                                {% endif %}
                            </div>
                            <div class="card-header -pl3 -flex -flex-column -justify-space-evenly -items-center -wrap ">
                                <a                                
                                    href="{{path('admin_file_show', {'id': file.id }) }}"
                                    class="-m0 -t-bld -t-tiny"
                                >
                                    {{ file.name ~ '.' ~ file.ext}}  
                                </a>
                                <div class="-subtitle text-gray -m0 -t-i -t-tiny">
                                    {{ file.private ? 'private':'public' }}
                                </div>
                            </div>
                            <div class="-card-footer">
                                <div class="-flex -justify-space-evenly -items-center -wrap -shad-12 -pr2 -pl2 -w-f">
                                    
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                            'path': file.private ? path('download_private_file', {'filename': file.originalFilename}) : asset(file.filePath),
                                            'action': 'download',
                                            'tooltip': 'download file',
                                            'icon': 'fas fa-download'
                                        } %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                            'path': path('admin_file_edit', { 'id': file.id }),
                                            'action': 'edit',
                                            'tooltip': 'edit file',
                                            'icon': 'fa-regular fa-pen-to-square'
                                        } %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                            'path': '#',
                                            'action': 'move',
                                            'tooltip': 'move folder',
                                            'icon': 'fas fa-file-import'
                                        } %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-delete.html.twig' with {
                                            'path': path('admin_file_delete', { 'id': file.id }),
                                            'message': 'Are you sure you want to delete this file ?',
                                            'token': 'delete-file'
                                        } %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %} 
            {% endif %}
        {% endif %}
    </section>
    <p class="-p10 -m10 -w-f -text-center">Bloogy Data Manager</p>
    <section class="bar bar-mini -fixed -bottom-1rm  -white" id="folder-list">
        <div class="tile -tile-compact -w-f -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    {{folder.name|upper}}
                </div>
                <div class="-tile-subtitle">
                    {{folder.private ? 'private' : 'public'}}
                </div>
                {% if is_granted('ROLE_ADMIN') %}                   
                    {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                        'path': '#',
                        'action': 'show',
                        'tooltip': 'move folders',
                        'icon': 'fas fa-file-import'
                    } %}
                    {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                        'path': folder.private ? path('admin_folder_access_edit', {'id': folder.id, 'accessValue': 'public'}) : path('admin_folder_access_edit', {'id': folder.id, 'accessValue': 'private'}),
                        'action': 'edit',
                        'tooltip': folder.private ? 'Make Public' : 'Make Private',
                        'icon': folder.private ? 'fas fa-lock' : 'fas fa-lock-open'
                    } %}
                    {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                        'path': path( 'admin_folder_edit', { 'id': folder.id }),
                        'action': 'edit',
                        'tooltip': 'edit folder',
                        'icon': 'fa-regular fa-pen-to-square'
                    } %}
                {% endif %}
            </div>
            <div class="-tile-action">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="-tile-action">
                    {% if folder is defined and folder is not null %}
                        <a 
                            class="btn -success btn-link btn-block -btn-lg tooltip -tooltip-top  -shad-12 -shad-14-h"
                            data-tooltip="Add a Folder"
                            href="{{ path('admin_folder_create', { 'folderId': folder.id }) }}"
                        >
                            <i class="fa-solid fa-folder-plus"></i>
                        </a>
                    {% else %}
                        <a 
                            class="btn -success btn-link btn-block -btn-lg tooltip -tooltip-top  -shad-12 -shad-14-h"
                            data-tooltip="Add a Folder"
                            href="{{ path('admin_folder_create') }}"
                        >
                            <i class="fa-solid fa-folder-plus"></i>
                        </a>
                    {% endif %}
                        <a 
                            class="-modal-open -modal-close btn -tertiary btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
                            data-tooltip="Add a File"
                            data-modal-id="file-uploader"
                            href="#"
                        > 
                            <i class="fa-solid fa-file-arrow-down fa-2x"></i>
                        </a>
                    </div>
                {% endif %}                
            </div>
        </div>
    </section> 
{% endblock %}



