{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN USER EDIT PASSWORD{% endblock %}

{% block mainContent %}
    <a class="btn -block" href="{{ path('admin_user_index') }}">back to list</a>

    <section class="col -col-12">
        <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
            <div class="-panel-header -text-center">
                <figure 
                    class="avatar avatar-xl -secondary -cursor-pointer -shad-12"
                    data-initial="{% if user is defined and user.username is defined  %}{{user.username|slice(0, 1)}}{% else %}{{'user'|upper|trans}}{% endif %}"
                >
                    {% if user is defined and user.avatar is defined and user.avatar is not null %}
                        <img src="#" alt="Avatar">
                    {% endif %}
                </figure>
                <div class="-panel-title h5 mt-10 -t-u">EDIT PASSWORD</div>
            </div>
            {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
                <section class="-panel-body -flex -wrap">
                    <div class="col -col-4 -md6 -sm12 -xs12">
                        {{ form_label(form.password, 'New Password', {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <small>{{ form_help(form.password) }}</small>
                        {{ form_errors(form.password) }}
                        <div class="form-element has-icon-right">
                            {{ form_widget(form.password, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                            <i class="form-icon fa-solid fa-lock"></i>
                        </div>
                    </div>
                </section>
                <section class="-panel-footer -text-center ">
                    <button  type="submit" class="-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl">
                        {{ button_label|default('Save') }}
                    </button>
                </section>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}