{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN PAGE BLOCK EDIT{% endblock %}

{% block mainContent %}

<section class="col -col-12">
    {% if pageBlock is defined %}
        <a class="btn -block" href="{{ path('editor_page_edit', { 'id': pageBlock.page.id }) }}">back to page editor</a>
    {% endif %}
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
            {% if pageBlock is defined and pageBlock is not null %}
                <button class="tooltip tooltip-left -tertiary btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="show page" type="submit">   
                    <a href="{{ path('editor_page_show', { 'id': pageBlock.page.id }) }}">
                        <i class="fa-solid fa-eye fa-2x"></i>        
                    </a>
                </button>
                {{ include('liquid-admin-theme/pages/core/page-block/_delete_form.html.twig') }}
            {% endif %}
        </div>
        {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
            <section class="-panel-body -flex -wrap">
                <div class="col -col-6 -md6 -sm12 -xs12">
                    {{ form_label(form.name, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.name) }}</small>
                    {{ form_errors(form.name) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>
                <div class="col -col-3 -md3 -sm6 -xs6">
                    {{ form_label(form.position, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.position) }}</small>
                    {{ form_errors(form.position) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.position, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-question"></i>
                    </div>
                </div>
                <div class="col -col-3 -md3 -sm6 -xs6">
                    <div class="form-element">
                        <label class="switch">
                            {{ form_widget(form.isPublished) }}
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Published</span>
                        </label>
                    </div>
                    <small>{{ form_help(form.isPublished) }}</small>
                    {{ form_errors(form.isPublished) }} 
                </div> 

                <div class="col -col-8 -md8 -sm12 -xs12">
                    <small>{{ form_help(form.blockTemplate) }}</small>
                    {{ form_errors(form.blockTemplate) }}
                    <div class="form-element">
                        {{ form_label(form.blockTemplate, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.blockTemplate, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-4 -md4 -sm12 -xs12">
                    <div class="form-element">
                        <label class="switch">
                            {{ form_widget(form.singleResult) }}
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Single Result</span>
                        </label>
                    </div>
                    <small>{{ form_help(form.singleResult) }}</small>
                    {{ form_errors(form.singleResult) }} 
                </div>
                <div class="col -col-12">
                    {{ form_label(form.query, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.query) }}</small>
                    {{ form_errors(form.query) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.query, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-question"></i>
                    </div>
                </div>
                <section class="col -col-12"> 
                    {{ form_label(form.content, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.content) }}</small>
                    {{ form_errors(form.content) }}
                    <div class=" form-element -w-f">
                        {{ form_widget(form.content, {'attr': {'class': 'editor -shad-12-h'}}) }}
                    </div>
                </section> 
            </section>
            <section class="-panel-footer -text-center ">
                {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
            </section>
        {{ form_end(form) }}    
    </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/ckeditor-classic/ckeditor.js') }}"></script>
  <script>
    ClassicEditor
        .create( document.querySelector( '.editor' ), {
            removePlugins: ['Title'],
            title: {
                placeholder: ' '
            },           
        } )
        .then( editor => {
            window.editor = editor;          
        } )
        .catch( error => {
            console.error( 'Oops, something went wrong!' );
            console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
            console.warn( 'Build id: urcmyxwt760y-t7k3khokxct7' );
            console.error( error );
        } );
    </script>
{% endblock %}

