{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN FORM EDIT{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    <a class="btn -block" href="{{ path('editor_form_list') }}">back to list</a>
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
            {% if formModel is defined and formModel is not null %}
                <a 
                    class="tooltip tooltip-left -tertiary btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                    data-tooltip="show"
                    href="{{ path('editor_form_show', { 'id': formModel.id }) }}"
                >   
                    <i class="fa-solid fa-eye fa-2x"></i>   
                </a>
                <a 
                    class="btn tooltip -tooltip-bottom -warning btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                    data-tooltip="refresh blocks"
                    href="{{ path('editor_form_fields_reorder', { 'formId': formModel.id}) }}"
                >
                    <i class="fas fa-refresh"></i>
                </a>
                {{ include('liquid-admin-theme/pages/core/form/editor/_delete_form.html.twig') }}
            {% endif %}
        </div>
        {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
            <section class="-panel-body -flex -wrap">
                <div class="col -col-4 -md6 -sm12 -xs12">
                    {{ form_label(form.name, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.name) }}</small>
                    {{ form_errors(form.name) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>
                <div class="col -col-4 -md6 -sm12 -xs12">
                    {{ form_label(form.sendTo, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.sendTo) }}</small>
                    {{ form_errors(form.sendTo) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.sendTo, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-at"></i>
                    </div>
                </div>
                <div class="col -col-4 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.formTemplate) }}</small>
                    {{ form_errors(form.formTemplate) }}
                    <div class="form-element">
                        {{ form_label(form.formTemplate, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.formTemplate, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-4 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.mailTemplate) }}</small>
                    {{ form_errors(form.mailTemplate) }}
                    <div class="form-element">
                        {{ form_label(form.mailTemplate, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.mailTemplate, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-4 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.locale) }}</small>
                    {{ form_errors(form.locale) }}
                    <div class="form-element">
                        {{ form_label(form.locale, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.locale, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-3 -md6 -sm6 -xs6">
                    <div class="form-element">
                        <label class="switch">
                            {{ form_widget(form.isPublished) }}
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Published</span>
                        </label>
                    </div>
                    <small>{{ form_help(form.isPublished) }}</small>
                    {{ form_errors(form.isPublished) }} 
                </div>
            </section>
            <section class="-panel-footer -text-center ">
                {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
            </section>
        {{ form_end(form) }}   
    </div>
</section>
{% if formModel is defined and formModel is not null %}
    <section class="col -col-12 -z0 bar -shad-12 -justify-space-evenly">
        <a 
            class="btn -primary btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Text Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'text'}) }}"
        > 
            Add Text Field <i class="fas fa-font"></i>
        </a>

        <a 
            class="btn -primary btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Tel Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'tel'}) }}"
        > 
            Add Tel Field <i class="fas fa-phone"></i>
        </a>

        <a 
            class="btn -primary btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Email Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'email'}) }}"
        > 
            Add Email Field <i class="fas fa-at"></i>
        </a>

        <a 
            class="btn -secondary btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Text Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'number'}) }}"
        > 
            Add Number Field <i class="fas fa-arrow-down-1-9"></i>
        </a>

        <a 
            class="btn -tertiary btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Text Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'checkbox'}) }}"
        > 
            Add Checkbox Field <i class="fas fa-check-to-slot"></i>
        </a>

        <a 
            class="btn -success btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Text Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'radio'}) }}"
        > 
            Add Radio Field <i class="fas fa-circle-dot"></i>
        </a>

        <a 
            class="btn -warning btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Text Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'select'}) }}"
        > 
            Add Select Field <i class="fas fa-list"></i>
        </a>

        <a 
            class="btn -light btn-link btn-block -btn-lg tooltip -tooltip-top -shad-12 -shad-14-h" 
            data-tooltip="Add a Text Area Field"
            href="{{ path('editor_form_field_create',{'formId': formModel.id, 'type': 'textarea'}) }}"
        > 
            Add Text Area Field <i class="fas fa-comment"></i>
        </a>
    
    </section>

    <section class="col -col-12 -mb10 -pb10">
        {% if formModel.fields is defined and formModel.fields is not empty %}
            {% for field in formModel.fields|sort((a, b) => a.position <=> b.position) %}
            <div class="accordion -shad-12 -shad-16-h">
                <input 
                    type="checkbox" 
                    id="accordion-field-form-{{field.id}}"
                    name="accordion-field-form-{{field.id}}"
                    hidden=""
                >
                <label class="-accordion-header" for="accordion-field-form-{{field.id}}">
                    <section class="">
                        <div class="-flex col -col-12 bar -justify-space-arround -align-center -shad-14-h -p2">
                            {{ include('liquid-admin-theme/pages/core/form/editor/_delete_form_field.html.twig') }}
                            <p class="-t-u -t-bld">{{field.label}} - type : {{field.type}}</p>
                            <section class="-flex align -justify-space-evenly -items-center -p1 -shad-1">
                                {% if loop.first != true %}
                                    <a 
                                        class=" -m1 btn tooltip -tooltip-top -success btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                                        data-tooltip="up"
                                        href="{{ path('editor_form_field_position', { 'formId': formModel.id, 'formFieldId': field.id, 'position': field.position - 1}) }}"
                                    >   
                                        <i class="fas fa-arrow-up"></i> 
                                    </a>
                                {% endif %}
                                {% if loop.last != true %}
                                    <a 
                                        class=" -m1 btn tooltip -tooltip-top -success btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                                        data-tooltip="down"
                                        href="{{ path('editor_form_field_position', { 'formId': formModel.id, 'formFieldId': field.id, 'position': field.position + 1}) }}"
                                    >   
                                        <i class="fas fa-arrow-down"></i>  
                                    </a>
                                {% endif %}
                            </section>
                        </div>
                    </section>
                </label>
                <div class="-accordion-body">
                    {% include "liquid-admin-theme/pages/core/form/editor/_form_field_full_editor.html.twig" %}
                </div>
            </div>    
            <hr class="-p2">
            {% endfor %}
        {% endif %}
    </section>
{% endif %}
{% endblock %}


