{#
// Variables
- imgUrl : Background image url {string}
- cardMode : Card design mode {int}
- day : day {string/int}
- month : month {string/int}
- year : year {string/int}
- menuContentItems : Menu content items {array}
- cardHeader : Card header text {string}
- cardTitle : Card title text {string}
- cardText : Card main text truncated {string}
- cardLinkPath : Card link path {string}
- cardLinkText : Card link text {string / default = '+' }
#}
{% if cardMode is not defined %}
    {% set cardMode = 1 %}
{% endif %}
{% if imgUrl is not defined %}
    {% set imgUrl = 'https://source.unsplash.com/f9C8ytxaItI/2000x1200' %}
{% endif %}

<div class="-h-a dynamic-card -mod-{{cardMode}}">
<style>
    .\-wrapper {
        --dynamic-card-mod-2-wrapper-background: url({{imgUrl}});
    }
</style>
	<div class="-wrapper">
		<div class="-header">
			<div class="-date">
                {% if day is defined %}<span class="-day">{{ day }}</span>{% endif %}
                {% if month is defined %}<span class="-month">{{ month }}</span>{% endif %}
                {% if year is defined %}<span class="-year">{{ year }}</span>{% endif %}
			</div>
            {% if menuContentItems is defined %}
                <ul class="-menu-content">
                    {% for item in menuContentItems %}
                        <li>
                            <a href="{{item.path}}" class="{{item.icon}}"></a>
                            {% if item.info is defined %}
                                <span>{{item.info|trans}}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
		</div>
		<div class="-data">
			<div class="-content">
                {% if cardHeader is defined %}
                    <span class="-author">{{cardHeader}}</span>
                {% endif %}
                {% if cardTitle is defined %}
                    <h2 class="-title">
                        <a href="#">{{cardTitle|trans}}</a>
                    </h2>
                {% endif %}
                {% if cardText is defined %}
                    <div class="-text">{{cardText| raw }}</div>
                {% endif %}
                {% if cardLinkPath is defined %}
                    <a href="{{cardLinkPath}}" class="-button">
                        {% if cardLinkText is defined %}
                           {{cardLinkText|trans}} 
                        {% else %}
                            +
                        {% endif %}
                    </a>
                {% endif %}
            </div>
		</div>
	</div>
</div>
