{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}FILE SHOW{% endblock %}

{% block mainContent %}
    {% if file is defined and file.folder is defined and file.folder is not null %}
        <section class="col -col-6 -md6 -sm12 -xs12">
            <a 
                class="btn -block" 
                href="{{ pathPrefixBasedOnRole ? path(pathPrefixBasedOnRole ~ '_data_manager') :  path('moderator_data_manager') }}"
            >
                back to Data Manager
            </a>
        </section>
        <section class="col -col-6 -md6 -sm12 -xs12">
            <a 
                class="btn -block -dark"
                href="{{ pathPrefixBasedOnRole ? path(pathPrefixBasedOnRole ~ '_folder_show', {'id': file.folder.id }) :  path('moderator_folder_show', {'id': file.folder.id }) }}"
            >
                back to parent : {{file.folder.name}}
            </a>
        </section>
    {% else %}  
        <section class="col -col-12">
            <a 
                class="btn -block" 
                href="{{ pathPrefixBasedOnRole ? path(pathPrefixBasedOnRole ~ '_data_manager') :  path('moderator_data_manager') }}"
            >
                back to Data Manager
            </a>
        </section>
    {% endif %}
    {% if file is defined %}
        <section class="-w-f">   
            <div class="card -shad-4 -shad-12-h">
                {% set mediaImgList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'] %}
                <div class="-card-image -flex -justify-space-evenly -items-center">
                    {% if file.ext in mediaImgList %}
                        {% set mediaPath = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath) %}
                        <img class="img-responsive" src="{{mediaPath}}" alt="{{file.name}}"> 
                    {% else %}
                        <div class="file-icon file-icon-xl -m2" data-type="{{file.ext}}"></div>
                    {% endif %}
                    </div>
                <div class="-card-header -pl3 -flex -flex-column -justify-space-evenly -items-center -wrap ">
                    <a
                        target="_blank"
                        href="{{file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath)}}"
                        class="-m0 -t-bld -t-tiny"
                    >
                        {{ file.name ~ '.' ~ file.ext}}  
                    </a>
                    <div class="-subtitle text-gray -m0 -t-i -t-tiny">
                        {{ file.private ? 'private':'public' }}
                    </div>
                </div>
                <div class="-card-body">
                    <p class="-t-u -t-bld">{{ 'path'|trans }} : </p>
                    <p>
                        {% if file.roleAccess is defined and file.roleAccess is not null %}
                            {% if is_granted('ROLE_ADMIN') or is_granted(file.roleAccess) %}
                                {% set pathLink = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : absolute_url(asset(file.filePath)) %}
                                {{pathLink}}
                            {% endif %}
                        {% else %}
                        {% set pathLink = file.private ? url('serve_private_file', {'filename': file.originalFilename}) : absolute_url(asset(file.filePath)) %}
                            {{pathLink}}
                        {% endif %}
                    </p>
                </div>
                <div class="-card-footer">
                    <div class="-flex -justify-space-evenly -items-center -wrap -shad-12 -pr2 -pl2 -w-f">
                        {% if file.roleAccess is defined and file.roleAccess is not null %}
                            {% if is_granted('ROLE_ADMIN') or is_granted(file.roleAccess) %}
                                {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                    'path': file.private ? path('download_private_file', {'filename': file.originalFilename}) : asset(file.filePath),
                                    'action': 'download',
                                    'tooltip': 'download file',
                                    'icon': 'fas fa-download'
                                } %}
                            {% endif %}
                        {% else %}
                            {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                'path': file.private ? path('download_private_file', {'filename': file.originalFilename}) : asset(file.filePath),
                                'action': 'download',
                                'tooltip': 'download file',
                                'icon': 'fas fa-download'
                            } %}
                        {% endif %}
                        {% if is_granted('ROLE_EDITOR') %}
                            {% set urlPrefix = pathPrefixBasedOnRole ? pathPrefixBasedOnRole : 'editor' %}
                            {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                'path': path( urlPrefix ~ '_file_edit', { 'id': file.id }),
                                'action': 'edit',
                                'tooltip': 'edit file',
                                'icon': 'fa-regular fa-pen-to-square'
                            } %}
                            {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                'path': '#',
                                'action': 'move',
                                'tooltip': 'move folder',
                                'icon': 'fas fa-file-import'
                            } %}
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% include 'liquid-ui/components/ui/buttons/btn-delete.html.twig' with {
                                'path': path('admin_file_delete', { 'id': file.id }),
                                'message': 'Are you sure you want to delete this file ?',
                                'token': 'delete-file'
                            } %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <p> There is no file !!! </p>
    {% endif %}

{% endblock %}