{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.blocks is defined and page.blocks is not empty  %}
        {% for pageBlock in page.blocks %}
            {% if pageBlock.blockTemplate and pageBlock.blockTemplate.cssLink is defined and pageBlock.blockTemplate.cssLink is not null %}
                {{ encore_entry_link_tags(pageBlock.blockTemplate.cssLink) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}PAGES DUPLICATE{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    <a class="btn -block" href="{{ path('editor_page_list') }}">back to list</a> 
    {% if form is defined %}
        <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
            {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
                <section class="-panel-body -flex -wrap">
                    <section class="col -col-6 -md6 -sm12 -xs12">
                        {{ form_label(form.name, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <small>{{ form_help(form.name) }}</small>
                        {{ form_errors(form.name) }}
                        <div class="form-element has-icon-right">
                            {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                            <i class="form-icon fa-solid fa-heading"></i>
                        </div>
                    </section>
                    <section class="col -col-4 -md4 -sm12 -xs12">
                        {{ form_label(form.locale, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <small>{{ form_help(form.locale) }}</small>
                        {{ form_errors(form.locale) }}
                        <div class="form-element has-icon-right">
                            {{ form_widget(form.locale, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                            <i class="form-icon fas fa-flag"></i>
                        </div>
                    </section>
                    <section class="col -col-2 -md2 -sm12 -xs12">
                        {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -warning -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
                    </section>
                </section>
            {{ form_end(form) }}
        </div>
    {% endif %}
</section>
<section class="col -col-12" id="page-overview">
    <div class="-text-center">
        <div class="h5 mt-10">ADMIN PAGE DUPLICATION</div>
    </div>
    
    {% if page is defined and page is not null %}
        {% if page.blocks is defined and page.blocks is not empty %}
            <section class="-w-f"> 
                {% for pageBlock in page.blocks|sort((a, b) => a.position <=> b.position) %}
                    {% if pageBlock.blockTemplate is defined and pageBlock.blockTemplate is not null %}
                        {% include pageBlock.blockTemplate.templatePath with {data: pageBlock.data, content: pageBlock.content, media: pageBlock.media, formModel: pageBlock.formModel} %}
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    {% else %}
        <p> There is no Page !!! </p>
    {% endif %}
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if page.blocks is defined and page.blocks is not empty  %}
        {% for pageBlock in page.blocks %}
            {% if pageBlock.blockTemplate and pageBlock.blockTemplate.scriptLink is defined and pageBlock.blockTemplate.scriptLink is not null %}
                {{ encore_entry_script_tags(pageBlock.blockTemplate.scriptLink) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}