{% extends 'post/index.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>POSTS</h2>
    <ul>
        {% if posts is defined and posts is not empty %}
            {% for post in posts %}
                <li>
                    <a href="{{ path('postShow', { 'id': post.id } ) }}"> {{ post.title|upper|e }} </a>
                    <button> <a href="{{ path('postEdit', { 'id': post.id } ) }}"> EDIT </a> </button>
                    <form action="{{ url('postDelete', { id: post.id }) }}" method="post">
                        {# the argument of csrf_token() is an arbitrary string used to generate the token #}
                        <input type="hidden" name="token" value="{{ csrf_token('delete-post') }}"/>

                        <button type="submit">Delete item</button>
                    </form>
                </li>
            {% endfor %}
        {% else %}
            <p> There is no post caralhoooo !!! </p>
        {% endif %}
    </ul>
</div>

{{ parent() }}
{% endblock %}