<section class="-w-f">
    {% if page is defined %}
        <a 
            class="btn -success -modal-open -modal-close -w-f -mb10"
            data-modal-id="blocks-list"
            href="#"
        >
            Add Block
        </a>
        {% if page.blocks is defined and page.blocks is not empty %}
            <section class="-w-f"> 
            
                {% for pageBlock in page.blocks|sort((a, b) => a.position <=> b.position) %}
                    <section  id="{{pageBlock.id}}" style="min-height: 3rem; {% if pageBlock.data is null and pageBlock.content is null  %} margin-bottom: -3rem;{% endif %}" class="-r">    
                        
                        {% if pageBlock.blockTemplate is defined and pageBlock.blockTemplate is not null %}
                            {% include pageBlock.blockTemplate.templatePath with {data: pageBlock.data, content: pageBlock.content, media: pageBlock.media, formModel: pageBlock.formModel} %}
                        {% endif %}
                        
                        <section class="-shad-12 -flex -justify-space-evenly -relative -bottom-3rm">
                            <a 
                                class="btn tooltip -tooltip-top -danger btn btn-action s-circle -light -hover -shad-12 -shad-14-h" 
                                data-tooltip="remove"
                                href="{{ path('editor_page_block_remove', { 'pageId': page.id, 'pageBlockId': pageBlock.id}) }}"
                            >   
                                <i class="fas fa-trash"></i> 
                            </a>
                            <a 
                                class="btn tooltip -tooltip-top -primary btn btn-action s-circle -light -hover -shad-12 -shad-14-h" 
                                data-tooltip="edit" 
                                href="{{ path('editor_page_block_edit', { 'pageId': page.id, 'pageBlockId': pageBlock.id}) }}"
                            >   
                                <i class="fas fa-pen"></i> 
                            </a>
                            <a 
                                class="tooltip -tooltip-top -light btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                                data-tooltip="duplicate"
                                href="{{ path('editor_page_block_duplicate', { 'pageId': page.id, 'pageBlockId': pageBlock.id}) }}"
                            >   
                                <i class="fas fa-copy"></i> 
                            </a>
                            {% if loop.first != true %}
                                <a 
                                    class="btn tooltip -tooltip-top -success btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                                    data-tooltip="up"
                                    href="{{ path('editor_page_block_position', { 'pageId': page.id, 'pageBlockId': pageBlock.id, 'position': pageBlock.position - 1}) }}"
                                >   
                                    <i class="fas fa-arrow-up"></i> 
                                </a>
                            {% endif %}
                            {% if loop.last != true %}
                                <a 
                                    class="btn tooltip -tooltip-top -success btn btn-action s-circle -light -hover -shad-12 -shad-14-h"
                                    data-tooltip="down"
                                    href="{{ path('editor_page_block_position', { 'pageId': page.id, 'pageBlockId': pageBlock.id, 'position': pageBlock.position + 1}) }}"
                                >   
                                    <i class="fas fa-arrow-down"></i>  
                                </a>
                            {% endif %}
                        </section>
                    </section>
                {% endfor %}
            </section>
        {% else %}
            <p> There is no block !!! </p>
        {% endif %}
    {% endif %}
</section>