<section class="-w-f">
    {% if page is defined %}
        <a 
            class="btn -success -modal-open -modal-close -w-f"
            data-modal-id="blocks-list"
            href="#"
        >
            Add Block
        </a>
        {% if page.blocks is defined and page.blocks is not empty %}
            <section class="-w-f"> 
                {% for pageBlock in page.blocks|sort((a, b) => a.position <=> b.position) %}
                    {% if pageBlock.content is defined and pageBlock.content is not null %}
                        {{pageBlock.content|raw}}
                    {% endif %}
                    {% if pageBlock.block is defined and pageBlock.block is not null %}
                        {% set data = pageBlock.block.data ? {data : pageBlock.block.data} : {} %}    
                        {% include pageBlock.block.blockTemplate with data %}
                    {% endif %}
                    <section style="margin-bottom:-3rem;" class="-shad-12 -flex -justify-space-evenly -relative -bottom-3rm">
                        <button class="tooltip -tooltip-top -danger btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="remove" type="submit">   
                            <a  href="{{ path('admin_page_block_remove', { 'pageBlockId': pageBlock.id, 'pageId': page.id}) }}">
                                <i class="fas fa-trash"></i>        
                            </a>
                        </button>
                        <button class="tooltip -tooltip-top -primary btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="edit" type="submit">   
                            <a  href="{{ path('admin_page_block_edit', { 'pageBlockId': pageBlock.id, 'pageId': page.id}) }}">
                                <i class="fas fa-pen"></i>        
                            </a>
                        </button>
                        {% if loop.first != true %}
                            <button class="tooltip -tooltip-top -success btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="up" type="submit">   
                                <a href="{{ path('admin_page_block_position', { 'pageBlockId': pageBlock.id, 'pageId': page.id, 'position': pageBlock.position - 1}) }}">
                                    <i class="fas fa-arrow-up"></i>        
                                </a>
                            </button>
                        {% endif %}
                        {% if loop.last != true %}
                            <button class="tooltip -tooltip-top -success btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="down" type="submit">   
                                <a href="{{ path('admin_page_block_position', { 'pageBlockId': pageBlock.id, 'pageId': page.id, 'position': pageBlock.position + 1}) }}">
                                    <i class="fas fa-arrow-down"></i>        
                                </a>
                            </button>
                        {% endif %}
                    </section>
                {% endfor %}
            </section>
        {% else %}
            <p> There is no block !!! </p>
        {% endif %}
    {% endif %}
</section>