{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}PAGES DUPLICATE{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    <a class="btn -block" href="{{ path('admin_page_list') }}">back to list</a> 
    {% if form is defined %}
        <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
            {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
                <section class="-panel-body -flex -wrap">
                    <section class="col -col-6 -md6 -sm12 -xs12">
                        {{ form_label(form.name, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <small>{{ form_help(form.name) }}</small>
                        {{ form_errors(form.name) }}
                        <div class="form-element has-icon-right">
                            {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                            <i class="form-icon fa-solid fa-heading"></i>
                        </div>
                    </section>
                    <section class="col -col-4 -md4 -sm12 -xs12">
                        {{ form_label(form.locale, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <small>{{ form_help(form.locale) }}</small>
                        {{ form_errors(form.locale) }}
                        <div class="form-element has-icon-right">
                            {{ form_widget(form.locale, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                            <i class="form-icon fas fa-flag"></i>
                        </div>
                    </section>
                    <section class="col -col-2 -md2 -sm12 -xs12">
                        {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -warning -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
                    </section>
                </section>
            {{ form_end(form) }}
        </div>
    {% endif %}
</section>
<section class="col -col-12" id="page-overview">
    <div class="-text-center">
        <div class="h5 mt-10">ADMIN PAGE DUPLICATION</div>
    </div>
    
    {% if page is defined and page is not null %}
        {% if page.blocks is defined and page.blocks is not empty %}
            <section class="-w-f"> 
                {% for pageBlock in page.blocks|sort((a, b) => a.position <=> b.position) %}  
                    {% if pageBlock.content is defined and pageBlock.content is not null %}
                        {{pageBlock.content|raw}}
                    {% endif %}
                    
                    {% if pageBlock.block is defined and pageBlock.block is not null %}
                        {% set data = pageBlock.block.data ? {data : pageBlock.block.data} : {} %}    
                        {% include pageBlock.block.blockTemplate with data %}
                    {% endif %}
                {% endfor %}
            </section>
        {% else %}
            <p> There is no block !!! </p>
        {% endif %}
    {% else %}
        <p> There is no page !!! </p>
    {% endif %}
</section>
{% endblock %}