{#
// Variables
- class : custom classes
- color : classes de modification de la classe principale
- path : lien
- text : Texte de l'élément,
- navItems: Nav Items to show in dropdown
#}

<section class="{% if color is defined %}-{{ color }}{% endif %} {% if class is defined %}{{ class }}{% else %} btn btn-link {% endif %}">
    <div class="slide-dropdown -nav -inline-nav">
        <label for="slide-dropdown--touch-{{ random() }}">
            <span class="slide-dropdown--title">{{ text |trans }}</span>
        </label>
        <input class="slide-dropdown--touch" type="checkbox" id="slide-dropdown--touch-{{ random() }}">
        <ul class="slide-dropdown--slide -shad-12">
            {% for item in navItems %}
                <li>
                    {% include 'liquid-theme/components/layout/nav/nav-item.html.twig' with {
                        'class': item['class'],
                        'color': item['color'],
                        'path': item['path'],
                        'text': item['text']
                    } %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>