{% extends 'liquid-theme/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if page.blocks is defined and page.blocks is not empty  %}
        {% for pageBlock in page.blocks %}
            {% if pageBlock.blockTemplate and pageBlock.blockTemplate.cssLink is defined and pageBlock.blockTemplate.cssLink is not null %}
                {{ encore_entry_link_tags(pageBlock.blockTemplate.cssLink) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}
    {% if page is defined and page is not null %}{{page.name|trans}}{% else %}{{ 'content.page'|trans }}{% endif %}
{% endblock %}

{% block mainContent %}
    <section class="col -col-12"> 
        {% if page is defined and page is not null %}
            {% if page.blocks is defined and page.blocks is not empty %}
                <section class="-w-f"> 
                    {% for pageBlock in page.blocks|sort((a, b) => a.position <=> b.position) %}
                        {% if pageBlock.blockTemplate is defined and pageBlock.blockTemplate is not null %}
                            {% include pageBlock.blockTemplate.templatePath with {blockContainer: pageBlock} %}
                        {% endif %}
                    {% endfor %}
                </section>
            {% endif %}
        {% else %}
            <p>{{ 'help.no_page'|trans }}</p>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if page.blocks is defined and page.blocks is not empty  %}
        {% for pageBlock in page.blocks %}
            {% if pageBlock.blockTemplate and pageBlock.blockTemplate.scriptLink is defined and pageBlock.blockTemplate.scriptLink is not null %}
                {{ encore_entry_script_tags(pageBlock.blockTemplate.scriptLink) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}