{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN MENU ITEM EDIT{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    {% if menuItem is defined and menuItem is not null %}
        <a class="btn -block" href="{{ path('editor_menu_edit', { 'id': menuItem.menu.id }) }}">back to menu edition</a>
    {% endif %}
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
            {% if menuItem is defined and menuItem is not null %}
                {{ include('liquid-admin-theme/pages/core/menu/editor/_menu_item_delete_form.html.twig') }}
            {% endif %}
        </div>
        {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
            <section class="-panel-body -flex -wrap">
                <div class="col -col-3 -md6 -sm12 -xs12">
                    {{ form_label(form.name, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.name) }}</small>
                    {{ form_errors(form.name) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>
                <div class="col -col-3 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.target) }}</small>
                    {{ form_errors(form.target) }}
                    <div class="form-element">
                        {{ form_label(form.target, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.target, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-3 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.roleAccess) }}</small>
                    {{ form_errors(form.roleAccess) }}
                    <div class="form-element">
                        {{ form_label(form.roleAccess, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.roleAccess, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-3 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.path) }}</small>
                    {{ form_errors(form.path) }}
                    <div class="form-element">
                        {{ form_label(form.path, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.path, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                
                <div class="col -col-6 -md6 -sm12 -xs12">
                    {{ form_label(form.customId, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.customId) }}</small>
                    {{ form_errors(form.customId) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.customId, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>
                <div class="col -col-6 -md6 -sm12 -xs12">
                    {{ form_label(form.customClass, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.customClass) }}</small>
                    {{ form_errors(form.customClass) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.customClass, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>
            </section>

            <section class="-panel-footer -text-center ">
                {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
            </section>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}



