{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN TEMPLATE EDIT{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    <a class="btn -block" href="{{ path('admin_template_list') }}">back to list</a>
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
            {% if template is defined and template is not null %}
                <button class="tooltip tooltip-left -tertiary btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="show" type="submit">   
                    <a href="{{ path('admin_template_show', { 'id': template.id }) }}">
                        <i class="fa-solid fa-eye fa-2x"></i>        
                    </a>
                </button>
                {% if template is defined and template is not null %}
                    {{ include('liquid-admin-theme/pages/core/template/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
        {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
            <section class="-panel-body -flex -wrap">
                <div class="col -col-5 -md4 -sm12 -xs12">
                    {{ form_label(form.name, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.name) }}</small>
                    {{ form_errors(form.name) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>

                <div class="col -col-5 -md5 -sm12 -xs12">
                    <small>{{ form_help(form.templatePath) }}</small>
                    {{ form_errors(form.templatePath) }}
                    <div class="form-element">
                        {{ form_label(form.templatePath, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.templatePath, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-2 -md3 -sm6 -xs6">
                    <div class="form-element">
                        <label class="switch">
                            {{ form_widget(form.isPublished) }}
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Published</span>
                        </label>
                    </div>
                    <small>{{ form_help(form.isPublished) }}</small>
                    {{ form_errors(form.isPublished) }} 
                </div> 
            </section>

            <section class="-panel-footer -text-center ">
                {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
            </section>
        {{ form_end(form) }}
        
    </div>
    
</section>
{% endblock %}



