{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% form_theme form _self %}
{% block _block_form_option_lists_widget %}
    <section class="-flex -w-f -wrap options">
        {% if form.vars.errors  %}
            <p class="-w-f -t-bld">{{ form.vars.errors }}</p>
        {% endif %}
        {% if form.vars.help  %}
            <p class="-w-f -t-bld">{{ form.vars.help }}</p>
        {% endif %}
        {% for child in form.vars.value %}
            <section class="-flex -wrap -w-f opt -mb5">
                <div class="col -col-4 -md6 -sm12 -xs12">
                    <label 
                        class="-t-c -t-bld -color-dark required" 
                        for="block_form_options_{{loop.index}}_name"
                    >
                        {{ "name"|trans }}
                    </label>
                    <div class="form-element has-icon-right">
                        <input 
                            type="text"
                            id="block_form_options_{{loop.index}}_name" 
                            name="block_form[options][{{loop.index}}][name]" 
                            required="required"
                            class="form-field -shad-12-h"
                            value="{{child.name}}"
                        >
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>
                    
                <div class="col -col-6 -md6 -sm12 -xs12">
                    <label 
                        class="-t-c -t-bld -color-dark required" 
                        for="block_form_options_{{loop.index}}_value"
                    >
                        {{ "value"|trans }}
                    </label>
                
                    <div class="form-element has-icon-right">
                        <input 
                            type="text"
                            id="block_form_options_{{loop.index}}_value"
                            name="block_form[options][{{loop.index}}][value]"
                            required="required" 
                            class="form-field -shad-12-h"
                            value="{{child.value}}"
                        >
                        <i class="form-icon fa-solid fa-info"></i>
                    </div>
                </div>
            </section>
        {% endfor %}
    </section>
{% endblock %}
{% block _block_form_option_lists_entry_name_row %}
    <div class="col -col-4 -md6 -sm12 -xs12">
        {% block _block_form_option_lists_entry_name_label %}
            <label class="-t-c -t-bld -color-dark required" for="block_form_options___name___name">{{ "name"|trans }}</label>
        {% endblock %}
        {% block _block_form_option_lists_entry_name_help %}
            <span>{{ form.vars.help }}</span>
        {% endblock %}
        {% block _block_form_option_lists_entry_name_errors %}
            <span>{{ form.vars.errors }}</span>
        {% endblock %}

        {% block _block_form_option_lists_entry_name_widget %}
            <div class="form-element has-icon-right">
                <input 
                    type="text"
                    id="block_form_options___name___name" 
                    name="block_form[options][__name__][name]" 
                    required="required"
                    class="form-field -shad-12-h"
                    value
                >
                <i class="form-icon fa-solid fa-heading"></i>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block _block_form_option_lists_entry_value_row %}
    <div class="col -col-6 -md6 -sm12 -xs12">
        {% block _block_form_option_lists_entry_value_label %}
            <label class="-t-c -t-bld -color-dark required" for="block_form_options___name___value">{{ "value"|trans }}</label>
        {% endblock %}
        {% block _block_form_option_lists_entry_value_help %}
            <span>{{ form.vars.help }}</span>
        {% endblock %}
        {% block _block_form_option_lists_entry_value_errors %}
            <span>{{ form.vars.errors }}</span>
        {% endblock %}
        {% block _block_form_option_lists_entry_value_widget %}
            <div class="form-element has-icon-right">
                <input 
                    type="text"
                    id="block_form_options___name___value"
                    name="block_form[options][__name__][value]"
                    required="required" 
                    class="form-field -shad-12-h"
                >
                <i class="form-icon fa-solid fa-info"></i>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block title %}ADMIN BLOCK EDIT{% endblock %}

{% block mainContent %}
<section class="col -col-12">
    <a class="btn -block" href="{{ path('editor_block_list') }}">back to block list</a>
</section>
<section class="col -col-9 -md8 -sm12 -xs12">
    <a class="btn -block" href="{{ path('editor_block_list') }}">back to list</a>
    <div class="panel -bg-white -b-rounded-md -shad-8 -w-f">
        <div class="-panel-header -text-center -flex -justify-space-evenly">
            {% if blockContainer is defined and blockContainer is not null %}
                <button class="tooltip tooltip-left -tertiary btn btn-action s-circle -light -hover -shad-12 -shad-14-h" data-tooltip="show" type="submit">   
                    <a href="{{ path('editor_block_show', { 'id': blockContainer.id }) }}">
                        <i class="fa-solid fa-eye fa-2x"></i>        
                    </a>
                </button>
                {% if blockContainer is defined and blockContainer is not null %}
                    {{ include('liquid-admin-theme/pages/core/block/editor/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
        
        {{ form_start(form, {'attr': {'class': '-w-f'}}) }}
            <section class="-panel-body -flex -wrap">
                <div class="col -col-4 -md6 -sm12 -xs12">
                    {{ form_label(form.name, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.name) }}</small>
                    {{ form_errors(form.name) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.name, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-heading"></i>
                    </div>
                </div>

                <div class="col -col-4 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.blockTemplate) }}</small>
                    {{ form_errors(form.blockTemplate) }}
                    <div class="form-element">
                        {{ form_label(form.blockTemplate, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.blockTemplate, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-4 -md6 -sm12 -xs12">
                    <small>{{ form_help(form.formModel) }}</small>
                    {{ form_errors(form.formModel) }}
                    <div class="form-element">
                        {{ form_label(form.formModel, null, {
                            'label_attr': {'class': '-t-c -t-bld -color-dark'}
                        }) }}
                        <div class="-sm9">
                            {{ form_widget(form.formModel, {'attr': {'class': 'form-select -shad-12'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col -col-4 -md6 -sm6 -xs6">
                    {{ form_label(form.locale, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.locale) }}</small>
                    {{ form_errors(form.locale) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.locale, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fas fa-flag"></i>
                    </div>
                </div>
                <div class="col -col-4 -md4 -sm12 -xs12">
                    <div class="form-element">
                        <label class="switch">
                            {{ form_widget(form.isPublished) }}
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Published</span>
                        </label>
                    </div>
                    <small>{{ form_help(form.isPublished) }}</small>
                    {{ form_errors(form.isPublished) }} 
                </div> 
                <div class="col -col-4 -md4 -sm12 -xs12">
                    <div class="form-element">
                        <label class="switch">
                            {{ form_widget(form.singleResult) }}
                            <i class="form-icon -shad-12"></i>
                            <span class="form-field-msg -t-c -t-bld -color-dark">Single Result</span>
                        </label>
                    </div>
                    <small>{{ form_help(form.singleResult) }}</small>
                    {{ form_errors(form.singleResult) }} 
                </div>
                <div class="col -col-12">
                    {{ form_label(form.query, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.query) }}</small>
                    {{ form_errors(form.query) }}
                    <div class="form-element has-icon-right">
                        {{ form_widget(form.query, {'attr': {'class': 'form-field -shad-12-h'}}) }}
                        <i class="form-icon fa-solid fa-question"></i>
                    </div>
                </div>
                
                <div class="col -col-12">
                    {{ form_label(form.options, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.options) }}</small>
                    {{ form_errors(form.options) }}
                    <button type="button" class="add_option" data-collection-holder-class="options">Add an options</button>
                    <div 
                        class="-flex -w-f -wrap options"
                        data-prototype="{{ form_widget(form.options.vars.prototype, {'attr': {'class': 'form-field -shad-12-h -w-f -flex -wrap'}})|e('html_attr') }}"
                        data-index="{{ form.options|length > 0 ? form.options|length + 1 : 0 }}"
                    >
                        {{ form_widget(form.options, {'attr': {'class': 'form-field -shad-12-h -w-f -flex -wrap'}}) }}
                        <hr>
                        <p class="-t-u -t-bld"> {{"form.new_field"|trans}}
                    </div>
                </div>
                <section class="col -col-12"> 
                    {{ form_label(form.content, null, {
                        'label_attr': {'class': '-t-c -t-bld -color-dark'}
                    }) }}
                    <small>{{ form_help(form.content) }}</small>
                    {{ form_errors(form.content) }}
                    <div class=" form-element -w-f">
                        {{ form_widget(form.content, {'attr': {'class': 'editor -shad-12-h'}}) }}
                    </div>
                </section>
            </section>

            <section class="-panel-footer -text-center ">
                {{ form_widget(form.submit, {'attr': {'class': '-t-u -t-bld btn -primary -hover -block -shad-13 -shad-19-h -btn-bordered -b-rounded-xl'}}) }}
            </section>
        {{ form_end(form) }}
        
    </div>
</section>

<section class="col -col-3 -md4 -sm12 -xs12">
        <div class="panel -bg-white -b-rounded-md -text-center -flex -flex-row -wrap -justify-space-evenly -shad-8 -w-f">
            {% if blockContainer is defined and blockContainer is not null %} 
                {% if blockContainer.media is defined and blockContainer.media is not null %}
                    <a  
                        class="tooltip tooltip-left -tertiary btn -danger -hover -shad-12 -shad-14-h"
                        data-tooltip="remove media" 
                        href="{{ path('editor_block_remove_media', { 'blockId': blockContainer.id}) }}"
                    >
                        Remove Media <i class="fas fa-trash"></i>        
                    </a>
                    <section class="-w-f">   
                        <div class="card -shad-4 -shad-12-h">
                            {% set file = blockContainer.media %}
                            {% set mediaImgList = ['png', 'jpg', 'jpeg', 'gif', 'bmp'] %}
                            <div class="-card-image -flex -justify-space-evenly -items-center">
                                {% if file.ext in mediaImgList %}
                                    {% set mediaPath = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath) %}
                                    <img class="img-responsive" src="{{mediaPath}}" alt="{{file.name}}"> 
                                {% else %}
                                    <div class="file-icon file-icon-xl -m2" data-type="{{file.ext}}"></div>
                                {% endif %}
                                </div>
                            <div class="-card-header -pl3 -flex -flex-column -justify-space-evenly -items-center -wrap ">
                                <a
                                    target="_blank"
                                    href="{{file.private ? path('serve_private_file', {'filename': file.originalFilename}) : asset(file.filePath)}}"
                                    class="-m0 -t-bld -t-tiny"
                                >
                                    {{ file.name ~ '.' ~ file.ext}}  
                                </a>
                                <div class="-subtitle text-gray -m0 -t-i -t-tiny">
                                    {{ file.private ? 'private':'public' }}
                                </div>
                            </div>
                            <div class="-card-body">
                                <p class="-t-u -t-bld">{{ 'path'|trans }} : </p>
                                <p>
                                    {% if file.roleAccess is defined and file.roleAccess is not null %}
                                        {% if is_granted('ROLE_ADMIN') or is_granted(file.roleAccess) %}
                                            {% set pathLink = file.private ? path('serve_private_file', {'filename': file.originalFilename}) : absolute_url(asset(file.filePath)) %}
                                            {{pathLink}}
                                        {% endif %}
                                    {% else %}
                                    {% set pathLink = file.private ? url('serve_private_file', {'filename': file.originalFilename}) : absolute_url(asset(file.filePath)) %}
                                        {{pathLink}}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="-card-footer">
                                <div class="-flex -justify-space-evenly -items-center -wrap -shad-12 -pr2 -pl2 -w-f">
                                    {% if file.roleAccess is defined and file.roleAccess is not null %}
                                        {% if is_granted('ROLE_ADMIN') or is_granted(file.roleAccess) %}
                                            {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                                'path': file.private ? path('download_private_file', {'filename': file.originalFilename}) : asset(file.filePath),
                                                'action': 'download',
                                                'tooltip': 'download file',
                                                'icon': 'fas fa-download'
                                            } %}
                                        {% endif %}
                                    {% else %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                            'path': file.private ? path('download_private_file', {'filename': file.originalFilename}) : asset(file.filePath),
                                            'action': 'download',
                                            'tooltip': 'download file',
                                            'target': 'blank',
                                            'icon': 'fas fa-download'
                                        } %}
                                    {% endif %}
                                    {% if is_granted('ROLE_EDITOR') %}
                                        {% set urlPrefix = pathPrefixBasedOnRole ? pathPrefixBasedOnRole : 'editor' %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-action.html.twig' with {
                                            'path': path( urlPrefix ~ '_file_edit', { 'id': file.id }),
                                            'action': 'edit',
                                            'tooltip': 'edit file',
                                            'target': 'blank',
                                            'icon': 'fa-regular fa-pen-to-square'
                                        } %}
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {% include 'liquid-ui/components/ui/buttons/btn-delete.html.twig' with {
                                            'path': path('admin_file_delete', { 'id': file.id }),
                                            'message': 'Are you sure you want to delete this file ?',
                                            'token': 'delete-file'
                                        } %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                {% else %}
                    <a  
                        class="tooltip tooltip-left -tertiary btn -light -hover -shad-12 -shad-14-h"
                        data-tooltip="add image" 
                        href="{{ path('editor_block_add_media', { 'blockId': blockContainer.id, 'type': 'image'}) }}"
                    >
                        Add Image <i class="fa-solid fa-image fa-2x"></i>        
                    </a>
                    <a  
                        class="tooltip tooltip-left -tertiary btn  -light -hover -shad-12 -shad-14-h"
                        data-tooltip="add image" 
                        href="{{ path('editor_block_add_media', {'blockId': blockContainer.id, 'type': 'video'}) }}"
                    >
                        Add Video <i class="fa-solid fa-photo-film fa-2x"></i>        
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/ckeditor-classic/ckeditor.js') }}"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '.editor' ), {
                removePlugins: ['Title'],
                title: {
                    placeholder: ' '
                },           
            } )
            .then( editor => {
                window.editor = editor;          
            } )
            .catch( error => {
                console.error( 'Oops, something went wrong!' );
                console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
                console.warn( 'Build id: urcmyxwt760y-t7k3khokxct7' );
                console.error( error );
            } );
    </script>
    
    <script>
        const addOptionFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Delete this option';
            item.append(removeFormButton);
            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            const item = document.createElement('section');
            item.classList.add("-flex", "-wrap", "-w-f", "-mb5");
            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
            addOptionFormDeleteLink(item);
        };
        document
            .querySelectorAll('.add_option')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
        document
            .querySelectorAll('.options .opt')
            .forEach((opt) => {
                addOptionFormDeleteLink(opt);
            });
    </script>
{% endblock %}