{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if blockContainer is defined and blockContainer is not null %}
        {% if blockContainer.blockTemplate and blockContainer.blockTemplate.cssLink is defined and blockContainer.blockTemplate.cssLink is not null %}
            {{ encore_entry_link_tags(blockContainer.blockTemplate.cssLink) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block title %}BLOCK SHOW{% endblock %}

{% block mainContent %}
    {% if blockContainer is defined %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
            <section class="-shad-12 col -col-12 -row -fixed -bottom -z100">
                <button class="tooltip -tooltip-top -light btn btn-action -xl s-circle -hover -shad-12 -shad-14-h" data-tooltip="edit block" type="submit">   
                    <a href="{{ path('editor_block_edit', { 'id': blockContainer.id }) }}">
                        <i class="fa-solid fa-pen fa-2x"></i>        
                    </a>
                </button>
            </section>
        {% endif %}
        <section class="-w-f"> 
            {% if blockContainer.blockTemplate is defined and blockContainer.blockTemplate is not null %}
                {% include blockContainer.blockTemplate.templatePath with {data: data, content: blockContainer.content, formModel: blockContainer.formModel} %}
            {% endif %}
        </section>
    {% else %}
        <p> There is no block !!! </p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if blockContainer is defined and blockContainer is not null %}    
        {% if blockContainer.blockTemplate and blockContainer.blockTemplate.scriptLink is defined and blockContainer.blockTemplate.scriptLink is not null %}
            {{ encore_entry_script_tags(blockContainer.blockTemplate.scriptLink) }}
        {% endif %}
    {% endif %}
{% endblock %}