{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}FOLDERS LIST{% endblock %}

{% block mainContent %}
    <section class="col -col-12">
        <a 
            class="btn -block" 
            href="{{ path('moderator_data_manager') }}"
        >
            back to Data Manager
        </a>
    </section>  
    {% if folders is defined and folders is not empty %}
        {% for folder in folders %}
            <section class="col -col-2 -md3 -sm6 -xs6 " id="folder-{{folder.id}}">
                <article class="-shad-12-h" id="folder-manager-{{folder.id}}">
                    <div class="tile -tile-compact -w-f"> 
                        <div class="-tile-content -flex -flex-column -justify-center -items-center -wrap">
                            <div class="chip {{ folder.private ? '-secondary':'-warning' }} -shad-13">
                                <span class="avatar avatar-sm -shad-18 -flex -justify-center -items-center">
                                    <i class="fas {{ folder.private ? 'fa-lock':'fa-lock-open' }}"></i>
                                </span>
                                <p class="-m0 -t-i -t-tiny">
                                    {{ folder.private ? 'private':'public' }}
                                </p>
                            </div>
                            <a  class="-flex -flex-column -justify-center -items-center -wrap"  href="{{ path('moderator_folder_show', {'id': folder.id}) }}">
                                <i class="fas fa-folder fa-2x -m2 -p4"></i>
                                <p class="-tile-title -m0 -t-bld -t-tiny">
                                    {{ folder.name}}  
                                </p>
                                <p class="-m0 -t-i -t-tiny">
                                    {{ folder.isPublished ? 'published':'not published' }}
                                </p>
                                <div class="-tile-subtitle">
                                    <div class="-t-u btn -sm -light -hover">See</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </article>
                <aside class="-flex -justify-space-evenly -items-center -wrap -sha -pr2 -pl2 -w-f ">  
                    
                </aside>
            </section>
        {% endfor %} 
    {% else %}
        <section class="col -col-12">
            <h2>There is no folder !!!</h2>  
        </section>
    {% endif %}
    <p class="-p10 -m10 -w-f -text-center">Bloogy Data Manager</p>
    <section class="bar bar-mini -fixed -bottom-1rm -white" id="folder-list">
        <div class="tile -tile-compact -w-f -shad-12">
            <div class="-tile-content">
                <div class="-tile-title -t-bld">
                    ADMIN DATA MANAGER
                </div>
                <div class="-tile-subtitle">
                    All Folder List
                </div>
            </div>
        </div>
    </section>
{% endblock %}