{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}ADMIN-{{'menu.dashboard'|trans}}{% endblock %}

{% block mainContent %}
<section class="col -col-12" id="post-list">
    <div class="-shad-12 -w-f">
        <h2 class="-text-center h4 -tertiary -pt2 -pb2">ADMIN {{'menu.dashboard'|trans}}</h2>
        <section class="-flex -justify-space-around">
            <p class="-t-bld -color-tertiary -ml2">Welcome on board {{ app.user.username }} !</p>
            <p class="-t-bld -color-tertiary -ml2">Today we are the : {{ "now"|date("d/m/Y") }}</p>
        </section>
    </div>
</section>
<section class="col -col-4 -md4 -sm12 -xs12" id="user-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                App Manager
            </div>
            <div class="-tile-subtitle">
                Configure your Website
                <a class="-t-u btn -sm -light -hover" href="{{ path('admin_app_configuration_dashboard') }}">{{'core.menu.admin_app_configuration'|trans}}</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -success btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="{{'core.menu.system_access'|trans}}"> 
                <a class="-success" href="{{ path('admin_command_system_dashboard') }}">
                    <i class="fa-solid fa-cogs fa-2x"></i> 
                </a>
            </button>
        </div>
    </div>
</section>

<section class="col -col-4 -md4 -sm12 -xs12" id="data-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Data Manager
            </div>
            <div class="-tile-subtitle">
                You have xx files.
                <a class="-t-u btn -sm -light -hover" href="{{ path('admin_data_manager') }}">Access</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -success btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Add Files"> 
                <a class="-success" href="{{ path('admin_file_list') }}">
                    <i class="fa-solid fa-plus fa-2x"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<section class="col -col-4 -md4 -sm12 -xs12" id="user-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                User Manager
            </div>
            <div class="-tile-subtitle">
                You have xx user.
                <a class="-t-u btn -sm -light -hover" href="{{path('admin_user_index')}}"> See User List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -success btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create User"> 
                <a class="-success" href="{{ path('admin_user_create') }}">
                    <i class="fa-solid fa-plus fa-2x"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<hr>
<section class="col -col-3 -md6 -sm12 -xs12" id="menu-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Menu Manager
            </div>
            <div class="-tile-subtitle">
                You have xx Menu.
                <a class="-t-u btn -sm -light -hover" href="{{path('editor_menu_list')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create Menu"> 
                <a class="-tertiary" href="{{ path('editor_menu_create') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<section class="col -col-3 -md6 -sm12 -xs12" id="page-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Page Manager
            </div>
            <div class="-tile-subtitle">
                You have xx Pages.
                <a class="-t-u btn -sm -light -hover" href="{{path('editor_page_list')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create Page"> 
                <a class="-tertiary" href="{{ path('editor_page_create') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<section class="col -col-3 -md6 -sm12 -xs12" id="block-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Block Manager
            </div>
            <div class="-tile-subtitle">
                You have xx blocks.
                <a class="-t-u btn -sm -light -hover" href="{{path('editor_block_list')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create Block"> 
                <a class="-tertiary" href="{{ path('editor_block_create') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<section class="col -col-3 -md6 -sm12 -xs12" id="block-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Template Manager
            </div>
            <div class="-tile-subtitle">
                You have xx templates.
                <a class="-t-u btn -sm -light -hover" href="{{path('admin_template_list')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create Template"> 
                <a class="-tertiary" href="{{ path('admin_template_create') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<hr>

<section class="col -col-3 -md6 -sm12 -xs12" id="post-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                Post Manager
            </div>
            <div class="-tile-subtitle">
                You have xx posts.
                <a class="-t-u btn -sm -light -hover" href="{{path('editor_post_list')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="Create Post"> 
                <a class="-tertiary" href="{{ path('editor_post_create') }}">
                    <i class="fa-solid fa-plus"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
{% endblock %}