{% extends 'liquid-admin-theme/layout-admin.html.twig' %}

{% block title %}MODERATOR-{{'menu.dashboard'|trans}}{% endblock %}

{% block mainContent %}
<section class="col -col-12" id="post-list">
    <div class="-shad-12 -w-f">
        <h2 class="-text-center h4 -tertiary -pt2 -pb2">MODERATOR {{'menu.dashboard'|trans}}</h2>
        <section class="-flex -justify-space-around">
            <p class="-t-bld -color-tertiary -ml2">Welcome on board {{ app.user.username }} !</p>
            <p class="-t-bld -color-tertiary -ml2">Today we are the : {{ "now"|date("d/m/Y") }}</p>
        </section>
    </div>
</section>
<section class="col -col-6 -md6 -sm12 -xs12" id="user-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                {{'core.menu.my_account'|trans}}
            </div>
            <div class="-tile-subtitle">
                {{'core.profile.about_account'|trans}}...
                <a class="-t-u btn -sm -light -hover" href="{{ path('member_edit_my_account') }}">
                    {{'core.menu.my_settings'|trans}}
                </a>
            </div>
        </div>
        <div class="-tile-action">
            <a
                data-tooltip="{{'core.menu.my_account'|trans}}"
                class="btn -success btn-link btn-block -btn-lg tooltip tooltip-left"
                href="{{ path('member_my_account') }}">
                <i class="fa-solid fa-user fa-2x"></i> 
            </a>
        </div>
    </div>
</section>

<section class="col -col-6 -md6 -sm12 -xs12" id="data-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                {{'core.menu.data_manager'|trans}}
            </div>
            <div class="-tile-subtitle">
                You have xx files.
                <a class="-t-u btn -sm -light -hover" href="{{ path('moderator_data_manager') }}">Access</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -success btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="See Files"> 
                <a class="-success" href="{{ path('moderator_file_list') }}">
                    <i class="fa-solid fa-file fa-2x"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
<section class="col -col-3 -md6 -sm12 -xs12" id="page-manager">
    <div class="tile -tile-compact -w-f -m0 -shad-12">
        <div class="-tile-content">
            <div class="-tile-title -t-bld">
                {{'core.menu.page_manager'|trans}}
            </div>
            <div class="-tile-subtitle">
                You have xx Pages.
                <a class="-t-u btn -sm -light -hover" href="{{path('moderator_page_list')}}"> See List</a>
            </div>
        </div>
        <div class="-tile-action">
            <button class="btn -tertiary btn-link btn-block -btn-lg tooltip tooltip-left" data-tooltip="See List"> 
                <a class="-tertiary" href="{{ path('moderator_page_list') }}">
                    <i class="fa-solid fa-arrow-right"></i> 
                </a>
            </button>
        </div>
    </div>
</section>
{% endblock %}